azulfondo=#007bff
blanco =#f8f9fa

footer
	background-color azulfondo
	color blanco
	text-align center
	padding 10 0 10 0
footer p
	padding 0
	margin 0
	font-size 1.2em
	
.noticias
	display flex 

	border solid 1px azulfondo
	border-radius 10px
	margin-bottom 8px
.descripcion
	padding 10px
	
.img
	width 120px
	margin-top 15px
.titulo
	font-weight bold
	font-size 1.2em
.cuerpo
	font-size 0.8em
.anuncios
	
	